* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

body {
  background: #F2F6FA;
  font-family: "Open Sans";
}

.text {
  line-height: 150%;
}

.title {
  color: #253757;
  font-family: "Poppins";
}

.button {
  width: 264px;
  height: 56px;
  font-family: "Poppins";
  border-radius: 8px;
  background: #2060F6;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}
.button:hover {
  background-color: #144ED4;
  align-items: center;
}

.label {
  color: #C0CDD7;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header {
  color: white;
  background-color: #2C2C2C;
  height: 800px;
  padding-top: 52px;
  border-radius: 0 0 30.5px 30.5px;
}

.header-container__top-block {
  padding-left: 14.1875%; /* 227/1600 */
  white-space: nowrap;
  padding-right: 14.1875%;
  align-items: center;
  display: flex;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
  letter-spacing: 3px;
  padding-bottom: 38px;
}

.contentH__button {
  padding-left: 88.765px;
  padding-right: 88.765px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
}

.contentH__button:hover {
  background-color: #144ED4;
  align-items: center;
}

.top-blockH__middle {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 8.648649%; /* 48/555 */
}

.underline-text {
  border-bottom: 2px solid #2060F6; /* Change "red" to the desired color */
  padding-bottom: 8px;
  transition: all 0.3s;
}

.right-sideH__item:hover .underline-text {
  border-color: #144ED4;
}

.header-container__bottom-block {
  height: 680px;
}

.contentH__title {
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 106.25% */
  letter-spacing: -2px;
  padding-top: 120px;
  color: white;
}

.contentH__text {
  width: 73.877551%; /* 362/490 */
  color: white;
  padding-top: 32px;
  padding-bottom: 83px;
  font-size: 18px;
}

.contentH {
  padding-left: 14.1875%; /* 227/1600 */
  width: 717px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  margin-top: -439.5px;
  height: 680px;
  overflow: hidden;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 720px;
  height: 680px;
  float: right;
  position: relative;
  margin-bottom: 500px;
  overflow: hidden;
  border-radius: 30px 0;
}

.swiper-button-next,
.swiper-button-prev {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 704px; /* Adjust this based on your layout */
}

.swiper-button-next {
  left: 63.0625%; /* 1009/1600 */
}

.swiper-button-prev {
  left: 60.0625%; /* 961/1600 */
}

.swiper-info {
  position: absolute;
  top: 686px;
  left: 66.5625%; /* 1065/1600 */
  width: 264px;
}
.swiper-info .title {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  color: white;
  padding-bottom: 8px;
}
.swiper-info .text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.discription-section__content {
  width: 47.125%; /* 754/1600 */
  margin: 0 auto;
}
.discription-section__content .title, .discription-section__content .text {
  text-align: center;
  line-height: 150%;
}
.discription-section__content .title {
  padding-bottom: 16px;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.discription-section__content .text {
  color: #6C788B;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.main__discriprion-section {
  margin-bottom: 148px;
}

.main__expertise-section {
  background-color: white;
  border-radius: 0 0 30px 30px;
}

.expertise-section__wrapper {
  width: 71.625%; /* 1146/1600 */
  margin: 0 auto;
}
.expertise-section__wrapper .title {
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 64px;
  padding-top: 128px;
}
.expertise-section__wrapper .sub-title {
  color: #253757;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 16px;
}
.expertise-section__wrapper p {
  color: #6C788B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 134px;
}
.expertise-section__wrapper img {
  border-radius: 16px;
  margin-bottom: 40px;
}

.expertise-wripper__content {
  display: flex;
  gap: 177px;
}

.expertise-content__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-wrapper__content {
  display: flex;
  flex-direction: column;
  width: 31.707317%; /* 364/1148 */
  padding-top: 102px;
}
.services-wrapper__content .title {
  color: #253757;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
  padding-top: 16px;
  padding-bottom: 24px;
}
.services-wrapper__content p {
  color: #6C788B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 90%;
}
.services-wrapper__content p:not(:last-child) {
  padding-bottom: 30px;
}

.services-section__wrapper {
  display: flex;
  width: 71.75%; /* 1148/1600 */
  margin: 0 auto;
  gap: 19.686411%; /* 226/1148 */
  padding-top: 148px;
  height: 200%;
}

.services-wrapper__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.navigation-column__block {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 232px;
  padding-left: 32px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 9px 18px 0px rgba(37, 41, 49, 0.03);
}

.navigation-block__number {
  margin-top: 32px;
  width: 46px;
  height: 24px;
  border-radius: 23px;
  background: rgba(32, 96, 246, 0.1);
  color: #2060F6;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-block__content {
  padding-top: 24px;
  padding-bottom: 32px;
}
.navigation-block__content p {
  color: #6C788B;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.navigation-more__icon {
  position: relative;
  padding-right: 16px;
}

.navigation-icon__arrow {
  position: absolute;
  left: 4px;
  bottom: 12%;
  width: 25px;
  height: 25px;
}

.navigation-block__more {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 32px;
}

.services-navigation__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navigation-column1 {
  margin-top: 132px;
}

.feedbacks-section__wrapper {
  width: 71.625%; /* 1146/1600 */
  margin: 0 auto;
  padding-top: 148px;
  padding-bottom: 148px;
}
.feedbacks-section__wrapper .title {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  max-width: 200px;
  padding-top: 16px;
}

.feedbacks-wrapper__people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.feedbacks-people__card {
  background-color: white;
  border-radius: 16px;
  margin-top: 85px;
}
.feedbacks-people__card .text {
  padding-left: 56px;
  padding-right: 56px;
  text-align: center;
  color: #6C788B;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 16px;
  padding-top: 8px;
}

.feedbacks-image__photo {
  width: 38.674%; /* 140/362 */
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding-top: 87px;
  padding-bottom: 79px;
}
.feedbacks-image__photo img {
  border-radius: 50%;
  width: 100%;
}

.feedbacks-card__image {
  position: relative;
}

.feedbacks-background--1,
.feedbacks-background--2 {
  position: absolute;
}

.feedbacks-background--1 {
  right: 20.223757%; /* 73.21/362 */
  bottom: 9.313725%; /* 28.5/306 */
}

.feedbacks-background--2 {
  left: 20.223757%; /* 73.21/362 */
  top: 11.928105%; /* 36.5/306 */
}

.feedbacks-content__paws {
  display: flex;
  justify-content: center;
}

.feedbacks-content__author,
.feedbacks-content__pos {
  text-align: center;
}

.feedbacks-content__pos {
  padding-top: 4px;
  padding-bottom: 32px;
}

.feedbacks-content__author {
  color: #253757;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
}

.main__application-section {
  background-image: url("../img/application-section/bg.png"); /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
  background-position: center; /* Center the image within the section */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-color: white;
}
.main__application-section .text {
  color: #6C788B;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  width: 47.125%; /* 754/1600 */
}
.main__application-section .button {
  margin-top: 64px;
  margin-bottom: 200px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.application-wrapper__title {
  padding-top: 200px;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 24px;
}

.application-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #2C2C2C;
  padding-bottom: 80px;
  padding-top: 180px;
  border-radius: 20px 20px 0 0;
}

.footer-message__title,
.footer-contact__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.footer-message__title {
  padding-bottom: 56px;
}

.footer-contact__title {
  padding-bottom: 8px;
}

.footer-group__socials {
  display: flex;
  gap: 32px;
}

.top-section__contact {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.top-section__contact .label {
  padding-bottom: 8px;
}

.footer-group__label {
  padding-bottom: 16px;
}

.footer-wrapper__top {
  display: flex;
  gap: 22.5625%; /* 361/1600 */
}

.footer__wrapper {
  padding-left: 22%; /* 227/1600 */
  padding-right: 18%; /* 227/1600 */
}

.footer-label {
  position: absolute;
  left: 0;
  bottom: 65px;
  color: white;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  pointer-events: none;
}

.hidden {
  display: none;
}

.footer-message__input {
  position: relative;
}
.footer-message__input input {
  transition: all 0.3s;
  width: 130%;
  background-color: #2C2C2C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFF;
  padding-bottom: 18px;
  color: #FFF;
  opacity: 1;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 34px;
}
.footer-message__input input:focus {
  outline: none;
  border-bottom-color: #144ED4;
  color: #FFF;
  opacity: 1;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 34px;
}

.footer-message__input {
  padding-bottom: 48px;
}

.footer-message__button {
  color: white;
}

.footer-group__number,
.footer-group__street {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-wrapper__bottom {
  display: flex;
  justify-content: space-between;
  height: 28px;
  margin-top: 121px;
}

.bottom-section__features ul {
  display: flex;
  color: white;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
  letter-spacing: 3px;
  text-transform: uppercase;
  gap: 64px;
}/*# sourceMappingURL=general.css.map */

@media (max-width: 1024px) {
  .header-container__top-block,
  .contentH{
    padding-left: 5.273438%; /* 54/1024 */
  }

  .contentH{
    width: 570px;
  }

  .header-container__top-block{
    padding-right: 54px;
  }

  .swiper-slide img {
    width: 490px;

  }
  .swiper-button-next {
    left: 63.28125%; /* 648/1024 */
  }
  
  .swiper-button-prev {
    left: 58.59375%; /* 600/1024 */
  }
  
  .swiper-info {
    left: 68.75%; /* 704/1024 */
  }
  .expertise-section__wrapper {
    width: 95.703125%; /* 980/1024 */
  }
  
}

@media (max-width: 640px){
  .header{
    height: 1000px;
  }

  .contentH__title {

}

.contentH__text {


}

.contentH {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
  padding-top: 1000px;
}

.swiper-slide {
  flex-shrink: 0;
  margin-top: -439.5px;
  height: 680px;
  overflow: hidden;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
 
}

.swiper-button-next,
.swiper-button-prev {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 704px; /* Adjust this based on your layout */
}

.swiper-button-next {
  left: 63.0625%; /* 1009/1600 */
}

.swiper-button-prev {
  left: 60.0625%; /* 961/1600 */
}

.swiper-info {
  position: absolute;
  top: 686px;
  left: 66.5625%; /* 1065/1600 */
  width: 264px;
}
}